
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background-color: #1c1c1c;
    color: #e0e0e0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    overflow: hidden; 
}


body::before {
    content: '';
    background: url('gltips-sfundo.png') no-repeat center center;
    background-size: contain; 
    opacity: 0.1; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}


.container {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}


h1, h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}


p {
    margin-bottom: 10px;
}


a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    background-color: #444;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #555;
}


input[type="text"],
textarea {
    background-color: #555;
    border: 1px solid #666;
    border-radius: 4px;
    color: #e0e0e0;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
}

table th {
    background-color: #444;
}

table tr:nth-child(even) {
    background-color: #383838;
}

table tr:nth-child(odd) {
    background-color: #303030;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1, h2 {
        font-size: 1.5em;
    }
}
/* Adicione no final do seu arquivo CSS existente */
.footer {
    position: fixed;
    bottom: 10px; /* Ajuste a margem inferior */
    right: 10px; /* Ajuste a margem direita */
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

.footer-button {
    display: inline-block;
    background-color: #333;
    color: #ffffff;
    padding: 8px 12px; /* Ajuste o padding */
    font-size: 12px; /* Ajuste o tamanho da fonte */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.footer-button:hover {
    background-color: #555;
}




